.container{
    width: 80%;
    height: 600px;
    display: flex;
    flex-direction: row;
}

.containerCard{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}